
/* HOME */

.home-top {
	width: 90vw;

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
	display: flex;
    justify-content: center;

	border-radius: 20px;

	padding: 2em;

	margin: auto auto auto auto;

}

.home-top .home-top-color-filter {
	display: flex;
    justify-content: center;
}

.home-top > div > div {
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #1C5188;
}

.home-top > div > div > h1 {
	margin: 0.25em 0;
}

.home-top > div > div > p {
	font-size: 1em;
	margin: 0.25em 0 2em 0;
}


.home-middle {
	padding: 5em 1em;
	color: #1C5188;
}

.home-middle h2,
.home-middle p {
	margin: 0.75em 0;
}

.home-middle-top,
.home-middle-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.home-middle-top object{
	width: 50%;
	height: 50%;
}

.home-middle-middle {
	margin: 5em 0 2em 0;
}

.home-middle-top div,
.home-middle-middle div {
	padding: 1.5em 0 0 0;
	width: 100%;
}

.home-middle-middle div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-middle-middle object {
	width: 20%;
	height: 20%;
}

.home-middle-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0em 0 2em 0;
	color: #FFFFFF;
}

.home-middle-bottom .home-card-container {
	position: relative;
	width: 95%;
	margin: 4em 0 0 0;
}

.home-middle-bottom .home-card-top-blank {
	height: 6em;
}

.home-middle-bottom .home-card-container object {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.home-middle-bottom .home-card {
	width: 100%;
	height: 85%;
	background-color: var(--primary-blue);
	padding: 8em 1.5em 3em 1.5em;
	border-radius: 1em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home-middle-bottom .home-card div {
	margin-bottom: 0.5em;
}

.home-middle-bottom object {
	width: 50%;
	height: 50%;

}

.button {
	background-color: var(--primary-yellow);
  	box-shadow: 0 2px 10px rgb(0 0 0 / 0.9);
}

.button:hover{
	background-color: #9e2f20;
	animation-timing-function: ease-in;
	animation-duration: 2s;
  	box-shadow: 0 2px 10px rgb(0 0 0 / 0.9);
}

.home-card {
	text-align: center;
	display: flex;
	align-items: center;

}

.home-features {
	flex-direction: row;
	text-align: center;
	font-size: 3em;
	margin-top: 3em;
}


@media only screen and (min-width: 800px) {

	/* HOME */

	.home-top {
		height: 30rem;
		font-size: 1.2em;
		padding: 3em;
		flex-direction: row;
		text-align: left;
	}

	.home-features {
		flex-direction: row;
		text-align: center;
		font-size: 3em;
		margin-top: 3em;
	}

	.home-top .button{
		font-size: 1em;
	}

	.home-top > div > div {
		width: 85%;
		display: flex;
		justify-content: left;
	}

	.home-top > div > object{
		width: 30em;
	}

	.home-middle {
		padding: 3em;
		color: #1C5188;
	}


	.home-middle-top,
	.home-middle-middle {
		flex-direction: row;
		text-align: left;
	}

	.home-middle-middle {
		margin: 6em 0 0 0;
	}

	.home-middle-top div {
		padding: 0 3em 0 0;
	}

	.home-middle-middle div {
		padding: 0 0 0 3em;
		align-items: flex-start;
	}

	.home-middle-top h2,
	.home-middle-middle h2 {
		font-size: 2em;
	}

	.home-middle-top p,
	.home-middle-middle p {
		font-size: 1.2em;
	}

	.home-middle-top object,
	.home-middle-middle object {
		width: 30%;
		height: 30%;
		margin: 2em;
	}

	.home-middle-bottom {
		flex-direction: row;
		justify-content: space-around;
		align-items: stretch;
		padding: 1em;
		color: #FFFFFF;

	}

	.home-middle-bottom .home-card-container {
		width: min(40%, 30em);
		margin: 1em;
	}

	.home-middle-bottom .home-card div {
		margin-bottom: 0;
	}

	.home-middle-bottom .home-card h2 {
		font-size: 1.6em;
	}

	.home-middle-bottom .home-card p {
		font-size: 1em;
	}
}

.filler {
	padding: 2em;
}

#tahap-1 {
	font-size: 1.6em;
}

