{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> Publikasi BEM UI </title>
<link rel="stylesheet" href="{% static 'main/css/publikasi-detail.css' %}">
{% endblock meta %}

{% block content %}
	<div class="content home-content">
        <div class="home-upper">
            <h1>Temukan kemudahan dalam memesan dan melacak publikasimu</h1>
            <form method="POST">
				{% csrf_token %}
                {{ form.id_pub_request }}
                <button style="margin: 1em;" type="submit" class="button button-custom" id="button-submit">Cari</button>
			</form>
			{% if error_msg %}
                <ul class="errorlist">
    				<li style="color: #EC4E43;">{{ error_msg }}</li>
                </ul>
			{% endif %}
        </div>

        <div class="home-center">
            <h1>Pesan publikasi dalam 3 langkah</h1>
            <div class="home-center-pic-container">
            	<div class="home-center-pic-individual-container">
            		<div class="home-center-pic"><i class="fas fa-globe-americas"></i></div>
            		<p>Buka web SIT</p>
            	</div>
            	<div class="home-center-pic-individual-container home-center-pic-center">
            		<div class="home-center-pic"><i class="fas fa-align-left"></i></div>
            		<p>Isi form</p>
            	</div>
            	<div class="home-center-pic-individual-container">
            		<div class="home-center-pic"><i class="fas fa-spinner"></i></div>
            		<p>Tunggu pesanan</p>
            	</div>
            </div>
        </div>

        <div class="home-lower">
        	<h1>Mudahnya memesan publikasi dengan SIT</h1>
			<a href="{% url 'publikasi:spoPublikasi' %}" class="button">Lihat SPO</a>
        	<a href="{% url 'publikasi:publikasiCreate' %}" class="button">Buat Pesanan</a>
        </div>
    </div>
{% endblock content %}
