{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Detail Request</title>
    <link rel="stylesheet" href="{% static 'reimbursement/css/style.css' %}">
{% endblock meta %}

{% block content %}
    <h1>Detail Request</h1>
    <h2>{{data.judul}}</h2>
    <h2>{{data.idPermintaan}}</h2>
    <h2>{{data.nama_birdep}}</h2>
    <h2>{{data.tahapan}}</h2>
    <p>{{user}}</p>
    <p>{{data}}</p>
    {% for photo in photos %}
    <img src='{{ photo }}'/>
    {% endfor %}

    {% if user.birdeptim in admin.tahap1 and data.tahapan == 0 %}
    <form action="dibatalkan" method="post">
        {% csrf_token %}
        <input name="id_request" type="hidden" value={{ id }}>
        <button type="submit">Batalkan</button>
    </form>
    <form action="../diterima" method="post">
        {% csrf_token %}
        <input name="id_request" type="hidden" value={{ id }}>
        <button type="submit">Terima</button>
    </form>

    {% elif user.birdeptim in admin.tahap1 and data.tahapan == 1 %}
        <a href="{% url 'form1' id=id %}"><button>Masukkan berkas</button></a>
    {% elif user.birdeptim in admin.tahap2 and data.tahapan == 2 %}
        <a href="{% url 'form2' id=id %}"><button>Masukkan bukti transfer</button></a>
    {% endif %}


{% endblock content %}
