.form-root{
    color: black;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0.9);
    padding: 2em;
    margin: 1em;
    border-radius: 20px;
    font-size: 1em;

    width: auto;

}

.form-root #judul-form {
    color: var(--primary-blue);
}

.content-root {
    margin-top: 5em;
    display: grid;
    text-align: left;
}

input[type=email],
input[type=password]
{
    width: 100%;
      padding: 12px 20px;
        margin-bottom: 1em;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;

}

#submitbutton {
    float: right;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .form-root{
        grid-column: 2/3;
        color: black;
        box-shadow: 0 2px 10px rgb(0 0 0 / 0.9);
        padding: 2em;
        margin: 1em;

        font-size: 1em;

        width: auto;
    }

    .form-root #judul-form {
        color: var(--primary-blue);
    }

    .content-root {
        margin-top: 5em;
        margin-bottom: 8em;
        display: grid;
        position: relative;
        text-align: left;
        grid-row: 3/4;
        grid-template-columns: 0.25fr 50vw minmax(200px, 1fr) 0.1fr;
    }

    .uppy {
        width: auto;
    }

    .object {
        grid-column: 3/4;
        width: 30vw;
        float: right;
        margin-left: 3em;
    }

    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=email],
    input[type=password],
    input[type=text],
    select{
      width: 100%;
      padding: 12px 20px;
        margin-bottom: 1em;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    #submitbutton {
        float: right;
        width: 100%;
    }
}