{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}"/>
{% endblock meta %}

{% block content %}
<div class="content-root">
    <div class="form-root">
        <h1 id="judul-form">Sign Up</h1>
        <section>
            <form action="postsignup" method="post" id="form">
            {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Masukkan username..."> <br/>

                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Masukkan email..."><br/>

                <label for="password1">Password</label>
                <input type="password" name="password1" id="password1" placeholder="Masukkan password..."><br/>

                <label for="password2">Ulang password</label>
                <input type="password" name="password2" id="password2" placeholder="Ulangi password..."><br/>

                <label for="asal">Asal instansi</label>
                <select id="asal" name="asal" onchange="showBirdep(this)">
                    <option value="bem_ui">BEM UI</option>
                    <option value="paguyuban">Paguyuban</option>
                    <option value="kepanitiaan">Kepanitiaan</option>
                </select><br/>

                <label for="birdeptim">Birdeptim</label>
                <div id="birdeptim">
                    <select name="birdeptim" type="hidden">
                        <option value=100>Ketua BEM</option>
                        <option value=101>Wakil Ketua BEM"</option>
                        <option value=102>Kepala SPI</option>
                        <option value=103>Finance Controller</option>
                        <option value=104>Vice Finance Controller</option>
                        <option value=105>Treasurer</option>
                        <option value=106>Koorbid Internal</option>
                        <option value=107>Koorbid Kemahasiswaan</option>
                        <option value=108>Koorbid Sosial Politik</option>
                        <option value=109>Koorbid Sosial Lingkungan</option>
                        <option value=110>Koorbid Minat dan Bakat</option>
                        <option value=111>Kepala KKI</option>
                        <option value=200>Wakil Kepala Tim SPI</option>
                        <option value=201>Biro Multimedia</option>
                        <option value=202>Biro Desain Komunikasi dan Visual</option>
                        <option value=203>Biro Hubungan Masyarakat</option>
                        <option value=204>Biro Kesekretariatan</option>
                        <option value=205>Biro Pengembangan Sumber Daya Manusia</option>
                        <option value=206>Biro Penelitian dan Pengembangan</option>
                        <option value=207>Departemen Advokasi dan Kesejahteraan Mahasiswa</option>
                        <option value=208>Departemen Pemberdayaan dan Inovasi Mahasiswa</option>
                        <option value=209>Departemen Kajian Strategis</option>
                        <option value=210>Departemen Aksi dan Propaganda</option>
                        <option value=211>Departemen Sosial Masyarakat</option>
                        <option value=212>Departemen Lingkungan Hidup</option>
                        <option value=213>Departemen Seni dan Budaya</option>
                        <option value=214>Departemen Olahraga</option>
                        <option value=215>Departemen Pendidikan dan Keilmuan</option>
                        <option value=216>Biro Keuangan</option>
                    </select>
                </div>

                <label for="name">Nama</label>
                <input type="text" name="nama" id="name" placeholder="Masukkan nama anda..."><br/>

                <label for="panggilan">Panggilan</label>
                <input type="text" name="panggilan" id="panggilan" placeholder="Masukkan panggilan anda..."><br/>

                <button type="submit" class="button" value="SignUp" id="submitbutton">Sign Up</button>
            </form>
        </section>
    </div>
    <object class="object only-desktop" data="{% static 'user/svg/Computer-login-amico.svg' %}" type="image/svg+xml"></object>
</div>
<script>
        function showBirdep(s) {
          var tag = document.getElementById("birdeptim");
          if (s.value == 'bem_ui') {
              tag.style.visibility = "visible";
          }
          else tag.style.visibility = 'hidden';
        }
    </script>

{% endblock content %}

