/* Root */

.details-info {
    line-height: 0.2em;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0.9);
    border-radius: 20px;
    margin-top: 2em;
    padding: 2em 4em 2em 4em;
}

.details-info p, .details-info a{
    line-height: 1.2em;
    margin-bottom: 2em;
}

.content-root{
    font-size: 1em;
    padding: 1em;
    flex-direction: row;
    text-align: left;
    line-height: 2em;
}

.details-judul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
}

.details-judul h2 {
    padding: 0;
    margin: 0;
}

/* SVG */

svg {
    cursor: default;
}

.BarOuter {
    padding: 3em;
}

.button-outer {
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-sec {
    margin-right: 3em;
}

#button-kembali {
    color: var(--primary-blue);
    margin-bottom: 10em;
}

#button-kembali:hover {
    color: blue;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(calc(21% + var(--progress-bar) * 16.5%));
  }
}

#Filling {
    animation: calc(1s + (var(--progress-bar) * 0.2s)) ease-in-out 0s 1 slideInFromLeft;
    transform: translateX(calc( (var(--progress-bar) + 1) * 22.5% ));
}

@keyframes fillTransition {
  0% {
    fill: var(--accent);
  }
  30% {
    fill: var(--accent);
  }
  100% {
    fill: white;
  }
}

svg .white-text {
    animation: calc(1s + (var(--progress-bar) * 1s)) ease-in-out 0s 1 fillTransition;
    fill: white;
}

#OuterLayer text {
    font-weight: bold;
}

svg .white-text {
    animation: calc(1s + (var(--progress-bar) * 1s)) ease-in-out 0s 1 fillTransition;
    fill: white;
}

/*Two Column*/

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.detail-only-desktop {
    display: none;
}

.filler {
    margin: 3em;
}

.dokumen {
    font-size: 1.5em;
}

/* Modal Delete */
/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    width: 40%;
    border-radius: 10px;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

.modal-button-del{
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.modal-button-del:hover {
  opacity:1;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content-del {
  background-color: #fefefe;
  margin: 15% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.button-del {
    margin-left: 85%;
    display: inline;
    cursor: pointer;
}

.button-del:hover {
}

/* 100% Image Width on Smaller Screens */
@media only screen and (min-width: 800px){
    .content-root{
        padding: 5em;
        padding-top: 2em;
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 1em;
        line-height: 1em;
    }
    .details-judul {
        line-height: 1em;
    }

    .detail-only-desktop {
        display: block;
    }

    .dokumen {
        width: 80vw;
        height: 80vh;
        font-size: 1.5em;
        margin-bottom: 2em;
    }
}


