{% load static %}

{% block meta %}
<title>Form Surat Pengajuan Dirmawa</title>
<link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}"/>
<link href="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.css" rel="stylesheet"/>
{% endblock meta %}

{% block content %}
<section>
<form action="postformks" method="post" id="form">
    {% csrf_token %}
    Judul:
    <input type="judul" name="judul"> <br/>
    Nama Program Kerja:
    <input type="kegiatan" name="nama_proker"><br/>
    Nama Kegiatan:
    <input type="kegiatan" name="nama_kegiatan"><br/>
    Deskripsi Kegiatan:
    <input type="deskription" name="deskripsi"><br/>
    Jenis Surat
    <select id="asal" name="jenis">
      <option value="pengajuan_dana">Pengajuan Dana</option>
      <option value="permohonan">Permohonan</option>
      <option value="surat_izin">Surat Izin</option>
    </select><br/>:
    Surat yang ingin diajukan:
    <label class="control-label">Upload File</label>
    <div id="drag-drop-area"></div>
    <input name="uploadFiles" type="hidden">
</form>
    <button type="button" id="submitbutton">Ajukan</button>

    <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>
    <script>
        function uuidv4() {
          return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
          );
        }
      var uppy = new Uppy.Core()
        .use(Uppy.Dashboard, {
          inline: true,
        target: '#drag-drop-area',
        proudlyDisplayPoweredByUppy:false,
        showProgressDetails:true,
        doneButtonHandler: null,
        hideUploadButton: true,
        })
      uppy.on('complete', (result) => {
          // photos.append(result.successful)
          // console.log(photos)
        console.log('Upload complete! We’ve uploaded these files:', result.successful)
      })
      uppy.use(Uppy.XHRUpload, {
        endpoint: '{% url "upload_photo" %}',
        headers: {'X-CSRFToken':"{{csrf_token}}"},
        formData: true,
        fieldName: 'file'
      })
      uppy.use(Uppy.Form, {
          target: "#form",
          resultName: 'uploadFiles',
          getMetaFromForm: false,
          addResultToForm: true,
          submitOnSuccess: true,
          triggerUploadOnSubmit: false,
      })
      uppy.on('file-added', (file) => {
        uppy.setFileMeta(file.id, {
          id_firebase: uuidv4(),
            source: "SURAT_DIRMAWA/"
        })
      })
      document.getElementById("submitbutton").addEventListener("click", function() {
          console.log("Submit Button")
          uppy.upload()
      })
    </script>

</section>
<script src="{% static 'base/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap.min.js' %}"></script>
<script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>

{% endblock content %}
