{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Form Reimbursement</title>
    <link rel="stylesheet" href="{% static 'reimbursement/css/style.css' %}"/>
    <link href="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.css" rel="stylesheet"/>
{% endblock meta %}

{% block content %}
    <div class="content-root">
        <div class="form-root">
            <h1 id="judul-form">Form Pengajuan Reimbursement</h1>
            <section>
                <form action="postformkr" method="post" id="form">
                    {% csrf_token %}
                    <label for="judul" >Judul</label>
                    <input type="text" id="judul" name="judul" placeholder="Judul Permintaan..."> <br/>

                    <label for="kegiatan" >Nama Kegiatan</label>
                    <input type="text" id="kegiatan" name="nama_kegiatan" placeholder="Nama Kegiatan..."><br/>

                    <label for="deskripsi">Deskripsi Singkat Kegiatan</label>
                    <input type="text" id="deskripsi" name="deskripsi" placeholder="Deksripsi Singkat..."><br/>

                    <label for="rekening">Nomor Rekening</label>
                    <input type="number" id="rekening" name="norek" placeholder="Nomor Rekening..."><br/>

                    <label for="atas-nama">Atas Nama Rekening</label>
                    <input type="text" id="atas-nama" name="anrek" placeholder="Atas Nama Rekening..."><br/>

                    <label for="bank">Nama Bank Rekening</label>
                    <input type="text" id="bank" name="bank" placeholder="Nama bank rekening anda..."><br/>

                    <label for="link-docs">Link Docs Voucher Pengajuan</label>
                    <input type="url" id="link-docs" name="link_voucher" placeholder="Link Docs Voucher..."><br/>

                    <label for="nominal">Nominal Reimburse</label>
                    <input type="number" id="nominal" name="nominal" placeholder="Nominal Uang Reimburse..."><br/>

                    <label class="control-label">Upload Bukti Pembayaran</label>
                    <div class="uppy" id="drag-drop-area"></div>

                    <div class="filler"></div>

                    <input name="uploadFiles" type="hidden">

                </form>

                <button type="button" class="button" id="submitbutton">Ajukan</button>

                <div class="filler"></div>

                <!-- Script upload ke Bukti Pembayaran-->
                <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
                <script>
                    var uppy = new Uppy.Core()

                    uppy.on('file-added', (file) => {
                        uppy.setFileMeta(file.id, {
                            id_firebase: "KEUANGAN_REIMBURSE/BUKTI_PEMBAYARAN/" + uuidv4(),
                        })
                    })
                    uppy.use(Uppy.XHRUpload, {
                        endpoint: '{% url "upload_photo" %}',
                        headers: {'X-CSRFToken':"{{csrf_token}}"},
                        formData: true,
                        fieldName: 'file'
                    })
                    uppy.use(Uppy.Dashboard, {
                        inline: true,
                        target: '#drag-drop-area',
                        proudlyDisplayPoweredByUppy:false,
                        showProgressDetails:true,
                        doneButtonHandler: null,
                        hideUploadButton: true,
                    })
                    uppy.on('complete', (result) => {
                        console.log('Upload complete! We’ve uploaded these files:', result.successful)
                    })
                    uppy.use(Uppy.Form, {
                        target: "#form",
                        resultName: 'uploadFiles',
                        getMetaFromForm: false,
                        addResultToForm: true,
                        submitOnSuccess: true,
                        triggerUploadOnSubmit: false,
                    })
                </script>
                <script type="application/javascript" src="{% static 'reimbursement/js/scripts.js' %}"></script>
                <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
            </section>
        </div>
    <object class="object only-desktop" data="{% static 'reimbursement/svg/Topup-credit-bro.svg' %}" type="image/svg+xml"></object>
    </div>
{% endblock content %}
