{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Form Reimbursement</title>
    <link rel="stylesheet" href="{% static 'reimbursement/css/style.css' %}"/>
    <link href="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.css" rel="stylesheet"/>
{% endblock meta %}

{% block content %}
    <div class="content-root">
        <div class="form-root">
            <h1 id="judul-form">Form Pengiriman Voucher</h1>
            <section>
                <form action="../../postform2" method="post" id="form">
                    {% csrf_token %}
                    <label class="control-label">Upload Bukti Transfer</label>
                    <div class="uppy" id="drag-drop-area"></div>

                    <input name="uploadFiles" type="hidden">
                    <input name="id_request" type="hidden" value={{ id }}>
                </form>

                <button type="button" class="button" id="submitbutton">Submit</button>
                <div class="filler"></div>

                <!-- Script upload ke Voucher-->
                <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
                <script>
                    var uppy = new Uppy.Core({
                        restrictions: {
                            maxNumberOfFiles: 1,
                      },
                    })

                    uppy.on('file-added', (file) => {
                        uppy.setFileMeta(file.id, {
                            id_firebase: "KEUANGAN_REIMBURSE/BUKTI_TRANSFER/" + uuidv4(),
                        })
                    })
                    uppy.use(Uppy.XHRUpload, {
                        endpoint: '{% url "upload_photo" %}',
                        headers: {'X-CSRFToken':"{{csrf_token}}"},
                        formData: true,
                        fieldName: 'file'
                    })
                    uppy.use(Uppy.Dashboard, {
                        inline: true,
                        target: '#drag-drop-area',
                        proudlyDisplayPoweredByUppy:false,
                        showProgressDetails:true,
                        doneButtonHandler: null,
                        hideUploadButton: true,
                    })
                    uppy.on('complete', (result) => {
                        console.log('Upload complete! We’ve uploaded these files:', result.successful)
                    })
                    uppy.use(Uppy.Form, {
                        target: "#form",
                        resultName: 'uploadFiles',
                        getMetaFromForm: false,
                        addResultToForm: true,
                        submitOnSuccess: true,
                        triggerUploadOnSubmit: false,
                    })
                </script>
                <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
                <script type="application/javascript" src="{% static 'reimbursement/js/scripts.js' %}"></script>
            </section>
        </div>
    <object class="object only-desktop" data="{% static 'reimbursement/svg/Topup-credit-bro.svg' %}" type="image/svg+xml"></object>
    </div>
{% endblock content %}
